.comments {

  margin-left: -20px;
  margin-right: -20px;

  .comment {
    border-bottom: solid 1px #ededed;
    background-color: white;
    padding: 10px 20px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .author {
    color: #f8670d;
  }

  .when {
    margin-left: 20px;
    color: #8f8f8f;
    font-weight: lighter;
  }

  a.caret-link, a.caret-link:hover, a.caret-link:active {
    text-decoration: none;
  }
}

@media (min-width: 768px){
  .comments {
    margin-left: 0;
    margin-right: 0;
  }
}
